

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
  transition: all 0.4s ease;
}
section{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f8ff;
  padding: 0 20px;
}
section.dark{
  background-color: #24292d;
}
section .container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  max-width: 550px;
  background: #fff;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  position: relative;
}
section.dark .container{
  background: #323840;
}
section .container .icons i{
position: absolute;
right: 17px;
top: 17px;
height: 30px;
width: 30px;
background: #24292d;
color: #fff;
text-align: center;
line-height: 30px;
border-radius: 50px;
font-size: 14px;
cursor: pointer;
}

section.dark .container .icons i{
  background: #fff;
color:#323840 ;
}
.container .icons i.fa-sun{
  opacity: 0; 
  pointer-events: none;
}
section.dark .container .icons i.fa-sun{
  opacity: 0; 
  pointer-events: none;
  font-size: 16px;
  }

section .container .time{
  display: flex;
  align-items: center;
}
.container .time .time-colon{
  display: flex;
  align-items: center;
  position: relative;
}
 .time .time-colon .am_pm{
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
 }
section.dark .time .time-colon .am_pm{
color: #fff;
  }


.time .time-colon .time-text{
  height: 100px;
  width: 100px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #f0f8ff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
section.dark .time .time-colon .time-text{
  background: #24292d;
  }

.time .time-colon .time-text .number{
font-size: 30px;
font-weight: 600;
}

 section.dark .time-text{
  color: #fff;
 }
 section.dark .time-colon{
  color: #fff;
 }
section.dark .time .time-colon .time-text{
  background: #24292d;
  }
.time .time-colon .colon{
  font-size: 40px;
  margin: 0 10px;
}
section.dark .time .time-colon .text{
 color: #fff;
}
.time .time-colon .time-text .text{
  font-weight: 700;
  letter-spacing: 2px;
}
 .container .time-text .time-colon .number{
  font-size: 30px;
 }
